<section>
    <div class="container-fluid">
        <div class="row row-offcanvas">
            <div class="col-md-3 sidebar sidebar-offcanvas">
                <h3>Sections</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" (click)="switchScreen('')">My Dashboard</li>
                    <li class="list-group-item" (click)="switchScreen('Expense')">My expenses</li>
                    <li class="list-group-item" (click)="switchScreen('Subscription')">My subscriptions</li>
                    <li class="list-group-item" (click)="switchScreen('Income')">My Incomes</li>
                </ul>
            </div>
            <div class="col-md-9 content">
                <div class="row">
                    <section>
                        Welcome to your Finance Dashboard {{ userDetails.name }}
                    </section>
                    <div class="col-lg-12 col-md-4 col-xs-2 p-4 grid" *ngIf="userExpenses && screen === 'Expense'">

                        <button class="btn btn-primary " (click)="openModal('expense')">Create</button>
                        <app-ag-base-component
                            *ngIf="userExpenses?.expenses !== undefined && userExpenses?.expenses!.length > 0; else screenBlock;"
                            [rowData]="rowData" [defaultColDef]="defaultColDef" [columnDefs]="expenseColDefs"
                            class="ag-theme-quartz" style="width: 100%; height: 100%;" [pagination]="true"
                            [paginationPageSize]="paginationPageSize"
                            [paginationPageSizeSelector]="paginationPageSizeSelector">

                        </app-ag-base-component>

                        <!-- <p>Subtotal Expenses: {{ subtotalExpenseValue }}</p> -->
                    </div>
                    <div class="col-lg-12 col-md-4 col-xs-2 p-4 grid"
                        *ngIf="userSubscriptions && screen === 'Subscription'">
                        <button class="btn btn-primary" (click)="openModal('subscription')">Create</button>
                        <app-ag-base-component
                            *ngIf="userSubscriptions?.subscriptions !== undefined && userSubscriptions?.subscriptions!.length > 0; else screenBlock;"
                            [rowData]="subRowData" [defaultColDef]="defaultColDef" [columnDefs]="subscriptionColDefs"
                            class="ag-theme-quartz" style="width: 100%; height: 500px;" [pagination]="true"
                            [paginationPageSize]="paginationPageSize"
                            [paginationPageSizeSelector]="paginationPageSizeSelector">

                        </app-ag-base-component>

                        <!-- <p>Subtotal Subscritions: {{ subtotalSubscriptionValue }}</p> -->
                    </div>
                    <div class="col-lg-12 col-md-4 col-xs-2 p-4 grid" *ngIf="userIncomes  && screen === 'Income'">
                        <button class="btn btn-primary" (click)="openModal('income')">Create</button>
                        <app-ag-base-component *ngIf="userIncomes?.incomes !== undefined && userIncomes?.incomes
                        !.length > 0; else screenBlock;" [rowData]="incomeRowData" [defaultColDef]="defaultColDef"
                            [columnDefs]="incomeColDefs" class="ag-theme-quartz" style="width: 100%; height: 100%;"
                            [pagination]="true" [paginationPageSize]="paginationPageSize"
                            [paginationPageSizeSelector]="paginationPageSizeSelector">

                        </app-ag-base-component>

                        <!-- <p>Subtotal Incomes: {{ subtotalIncomeValue }}</p> -->
                    </div>
                </div>
            </div>

        </div>
    </div><!--Expense Table-->
    <ng-template #empty>
        <td>
            <i>---</i>
        </td>
    </ng-template>
    <ng-template #disabled>
        <td>
            <input type="checkbox" name="checked" id="reminder" disabled>
        </td>
    </ng-template>
    <ng-template #screenBlock>
        <div class="mt-3">
            It seems you haven't created any <b>{{ screen }}</b>. Click the Create button above to add new <b>{{ screen
                }}s</b>
        </div>

    </ng-template>
    <ng-template #gridLoading>
        <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </ng-template>
</section>