<form [formGroup]="expenseForm" (ngSubmit)="onExpenseSubmit()">
    <div class="form-group">
        <input type="text" id="name" formControlName="name" class="form-control" placeholder="Expense Name"
            [ngClass]="{ 'error': expenseForm.get('name')!.invalid && expenseForm.get('name')!.touched }" required>
    </div>
    <div class="form-group">
        <input type="text" id="description" formControlName="description" class="form-control"
            placeholder="Description for Expense"
            [ngClass]="{ 'error': expenseForm.get('description')!.invalid && expenseForm.get('description')!.touched }"
            required>
    </div>
    <div class="form-group">
        <input type="text" id="value" formControlName="value" class="form-control" placeholder="Amount"
            [ngClass]="{ 'error': expenseForm.get('value')!.invalid && expenseForm.get('value')!.touched }" required>
    </div>
    <div class="form-group">
        <input type="date" id="dateOfExpense" formControlName="dateOfExpense" class="form-control"
            placeholder="Date of Expense"
            [ngClass]="{ 'error': expenseForm.get('dateOfExpense')!.invalid && expenseForm.get('dateOfExpense')!.touched }"
            required>
    </div>
    <div class="form-group">
        <input type="text" id="modeOfExpense" formControlName="modeOfExpense" class="form-control"
            placeholder="Mode of Expense"
            [ngClass]="{ 'error': expenseForm.get('modeOfExpense')!.invalid && expenseForm.get('modeOfExpense')!.touched }"
            required>
    </div>
    <div class="form-group">
        <select id="category" formControlName="expenseId" class="form-control" placeholder="Category"
            [ngClass]="{ 'error': expenseForm.get('expenseId')!.invalid && expenseForm.get('expenseId')!.touched }"
            required>
            <option *ngFor="let c of categories" [value]="c.id">{{c.category}}</option>

        </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid"
        *ngIf="record && record?.data">Update</button>
    <button *ngIf="!record" type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid">Save</button>
    <button type="button" (click)="closeModal()" class="btn btn-primary">Close</button>
</form>