<div class="container">

    <!--Adding tabs for news components-->
    <p class="text-center text-secondary">
        Browse through various National, International and Local news sources from below options. You can select your
        respective states to get news details.
    </p>
    <hr>
    <section class="my-3 p-2">
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="Basic toggle button group">
                <input type="button" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-dark" for="btncheck1" (click)="onOptionSelect('ie')">National</label>

                <input type="button" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-dark" for="btncheck2" (click)="onOptionSelect('otv')">Local</label>

                <input type="button" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-dark" for="btncheck3" (click)="onOptionSelect('ht')">International</label>
            </div>
        </div>
        <!-- Select your state -->
    </section>


    <div *ngIf="error">
        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
            Unable to fetch records from server
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-border m-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>


    <div *ngIf="news?.success">

        <div class="list-group">
            <div class="container">
                <div class="list-group-item list-group-item-action flex-column align-items-start my-2 rounded"
                    *ngFor="let n of news?.data">
                    <div class="container">
                        <div class="row">
                            <div class="col-4">
                                <img class="img-fluid rounded my-2" src="{{ n.image }}">
                            </div>
                            <div class="col-8 py-2">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{n.news}}</h5>
                                </div>
                                <div class="updated-time" *ngIf="n.last_updated_time">
                                    Last Updated: </div><small>{{ n.last_updated_time }}</small>
                                <br>
                                <div class="row">
                                    <div class="col">
                                        <button class="btn btn-outline-dark mt-3"
                                            [routerLink]="['/news', n.news ,selectedNewsService, n.url]">Read
                                            More</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-outline-dark mt-3" disabled>Read Summarized
                                            Story</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="news?.data" class="text-center mt-3"><button class="btn btn-light" (click)="loadMore()">Load
            More</button>
        <br>
    </div>
    <br>
</div>