.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.list-group-item {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}


.list-group-item {
    height: 200px;
}

img {
    max-width: 100%;
    max-height: 75%;
}

@media screen and (max-device-width: 768px) {
    .list-group-item {
        height: 250px;
    }

    h5.mb-1 {
        font-size: medium;
    }

    .updated-time {
        font-size: small;
    }

    button {
        font-size: 11px;
    }
}