.form-select:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
}

.list-group-item {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

.list-group-item.h4 {
    font-family: sans-serif;
    font-weight: 400;
}

.list-group-item {
    height: 150px;
}

@media screen and (max-device-width: 768px) {
    .list-group-item {
        height: 200px;
    }

    .list-group-item.h4 {
        font-size: 0.3em;
    }
}