<!-- Modal -->
<div class="modal fade modal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ newsTitle }}</h5>
                <button type="button" (click)="onClose()" class="close btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="(newsContents?.data?.message)">
                <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                    {{ newsContents?.data?.message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            <div class="modal-body" *ngIf="!(newsContents?.data?.message)">
                <span class="text-center">

                    <img src="{{ newsContents?.data?.main_content_image }}" class="rounded mx-auto d-block"
                        width="200px" height="200px">
                </span>
                <br>
                <p> <strong> Last Updated Time: {{ newsContents?.data?.news_updated_time }} | {{
                        newsContents?.data?.news_location
                        }}</strong></p>

                <p *ngFor=" let content of newsContents?.data?.main_content">
                    {{content}}
                </p>
                <small>By: <i>{{ newsContents?.data?.news_src }}</i></small>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="onClose()" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>