<div class="container mt-5 p-5">
    <div class="display-1 my-3 text-center">
        Welcome to Newsopedia
    </div>
    <div class="text text-mute my-5">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum facilis ducimus dolore, nihil, similique
            atque magnam dignissimos nobis rem eius, doloremque deserunt perspiciatis excepturi repudiandae veritatis
            nulla tempora voluptates quidem consequuntur? Doloribus maiores cupiditate ipsam incidunt laudantium.
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab, veniam! Rem esse accusantium dolores. Nemo
            amet temporibus in, nesciunt illum ipsa quia illo eaque, perspiciatis minima mollitia aliquam, aliquid hic.
        </p>
    </div>


    <hr>
    <div class="row mt-5 p-3">
        <app-news></app-news>
    </div>

</div>